<br />
<h1>
  <span>
    {{title[0]}}
  </span>
  <span>
    {{title[1]}}
  </span>
</h1>
<br />
<h2>- Mercedes Muñoz Patiño -</h2>

<br />

<nav class='menu'>
  <a routerLink='/inicio' routerLinkActive='active'>Inicio</a>
  <!--<a routerLink='/movie' routerLinkActive='active'>Peliculas</a>-->
  <a routerLink='/mail' routerLinkActive='active'>Verificar mail</a>
  <a routerLink='/qr' routerLinkActive='active'>Generar QR</a>
  <a routerLink='/localizacion' routerLinkActive='active'>Clima</a>
</nav>
<router-outlet></router-outlet>
