span{
    font-weight:bold;
    color: #69177C
}
.body{
    height: 30em;
}
label{
    color: black;
}
input{
    display: inline-block
}
.esperaS{
    zoom: 1%;
}
.dia{
    position: static;
    width: 10em;
    display: inline-block;
    margin: auto;
    vertical-align: top;
    margin: 5px 5px 5px 5px;
}
.ListResult{
    border: none;
    height: 10em;
    width: 12.5em;
    overflow: auto;
    margin: 2em auto 0 auto;
    background-color: white;
    box-shadow: 0px 0px 10px grey;

}