/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;


}
@keyframes rotor0 {
	from {
		transform: rotate(-40deg)
		           translate(4em)
		           rotate(40deg);

	}
	to {
		transform: rotate(320deg)
		           translate(4em)
		           rotate(-320deg);

	}
}
@keyframes rotor1 {
	from {
		transform: rotate(-20deg)
		           translate(4em)
		           rotate(20deg);

	}
	to {
		transform: rotate(340deg)
		           translate(4em)
		           rotate(-340deg);

	}
}

@keyframes rotor2 {
	from {
		transform: rotate(0deg)
		           translate(4em)
		           rotate(0deg);

	}
	to {
		transform: rotate(360deg)
		           translate(4em)
		           rotate(-360deg);

	}
}
@keyframes rotor3 {
	from {
		transform: rotate(-60deg)
		           translate(4em)
		           rotate(60deg);

	}
	to {
		transform: rotate(300deg)
		           translate(4em)
		           rotate(-300deg);

	}
}
@keyframes rotor4 {
	from {
		transform: rotate(-80deg)
		           translate(4em)
		           rotate(80deg);

	}
	to {
		transform: rotate(280deg)
		           translate(4em)
		           rotate(-280deg);

	}
}
@keyframes rotor5 {
	from {
		transform: rotate(-100deg)
		           translate(4em)
		           rotate(100deg);

	}
	to {
		transform: rotate(260deg)
		           translate(4em)
		           rotate(-260deg);

	}
}
@keyframes rotor6 {
	from {
		transform: rotate(-120deg)
		           translate(4em)
		           rotate(120deg);

	}
	to {
		transform: rotate(240deg)
		           translate(4em)
		           rotate(-240deg);

	}
}
.load_div {
	margin: 4em auto 5em auto;
	width: 0em;
	height: 0em;
}

.loading_init {
	height: 1em;
	width: 1em;
	border-radius: 1em;
	margin: auto;
	display: block;
	position: fixed;
	top: 45%;
	left: 47%;
	float: left;
    
}

.init_0 {
	animation: rotor0 1s infinite linear;
	background-color: #69177C;
}

.init_1 {
	animation: rotor1 1s infinite linear;
	background-color: #69177C;
}

.init_2 {
	animation: rotor2 1s infinite linear;
	background-color: #69177C;

}

.init_3 {
	animation: rotor3 1s infinite linear;
	background-color: #69177C;

}

.init_4 {
	animation: rotor4 1s infinite linear;
	background-color: #69177C;

}

.init_5 {
	animation: rotor5 1s infinite linear;
	background-color: #69177C;
}
.init_6 {
	animation: rotor6 1s infinite linear;
	background-color: #69177C;
}

.loading{
  margin-top: 50em;
}
app-root{
    text-align: center;
}
body, html {
    text-align: center;
    width: 100%;
	background-color: #E5E3E5;
}
img{
    height: 15em;
}
img.espera{
    height: 2em;
}
h1{
    color: #69177C;
    font-size: 1.5em;
    text-align: center;
}
h3{
    color: #69177C;
    font-size: 1em;
    text-align: center;
}
span {
    display: inline-block;
    font-weight:bold;
    color: #69177C
}

h2{
    color: #69177C;
    font-size: 1.2em;
}
button{
    background-color: #69177C;
    border: none;
    color: white;
    height: content;
    width: content;
    font-size: 100%;
    cursor: pointer;
    padding: 0.3em;
	outline: none;
}
button:hover{
	background-color: #41074E;
}
.ListResult{
    border: 0.01em solid #69177C;
    height: 10em;
    width: 12.5em;
    overflow: auto;
    margin: auto;
}
.result{
    border: none;
    width: 12.5em;
    cursor: pointer;
    margin: auto;
}
.result:hover{
    background-color: #C39FCB;
}


p{
    color: #69177C;
    font-size: 70%;
}
select{
    background-color: #69177C;
    border: none;
    color: white;
    height: 30px;
    font-size: 100%;
    border-radius: 0.3em;
	cursor: pointer;
}
select:hover{
	background-color: #41074E;
}
input{
   height: 1.8em;
   width: 15em;
    border-bottom: 0.01em solid #69177C;
    display: inline-block;
	margin-right: 5px;
	background-color: #E5E3E5;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-left: 0.5em;
}
input:focus{
	outline: none;
}
label{
    color: #69177C;
    margin-bottom: 0.2em;
	display: inline-block;
}
.espera{
    zoom: 50%;
    margin: auto;
}
